
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: aliceblue;
  font-family: "Funnel Sans", sans-serif;
  /* font-size: ; */
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgb(30, 29, 29);
    font-size: 17px;
}

a{
  text-decoration: none;
  color: blanchedalmond;
}
span{
font-size: 20px;
color:rgb(236, 236, 236) ;
}