.homepage{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    .team{
          width:500px;
         height:250px;
         background-color: rgb(128, 141, 96);
         padding: 10px;
         margin-bottom: 10px;
         margin-left: 10px;
         font-family: "Funnel Sans", sans-serif;
         font-size: 2rem;
          color: black;
          display: flex;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
   
        a{
       text-decoration: none;
       color: inherit;
     
     }


    }
}
.title {
font-family: "Atma", system-ui;
font-size: 4rem;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
position: sticky;
z-index: 1000;
top: 0;

}