.Match-small{
    height: 200px;
     padding: 10px;
     h4{
   margin-bottom: 15px;
     }
     

}
     .match-small-lost{
   
      background-color: rgb(79, 161, 249);
     }
     .match-small-won{

            background-color: rgb(128, 141, 96);
     }
